<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts/header.js" defer></script>

    <title>Climb Time Crag Finder</title>
</head>
<body>
    <div class="main-message">
        <div>
            <h1>Welcome to Climb Time Crag Finder</h1>
            <p>Your one-stop solution for finding the best climbing crags.</p>
        </div>
        <!-- <form action="/login" method="POST" id="login-form">
            <h3>Login</h3>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form> -->
        <div>
            <!-- <p>Want to add crags? <a href="/login">Login here</a></p> -->
            <p><a href="/view-crags">Explore Crags</a></p>
            <p><a href="/view-routes">Explore Routes</a></p>
        </div>
    </div>
    

    <!-- <a href="/view-crags">Explore Crags</a> -->
</body>
</html>